body {
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #fbfaf5;
  }
  .nav-link {
    color: #2f189a;
  }
  .purple-btn {
    background-color: #2f189a;
  }
  .purple-btn:hover {
    transition: 0.3s ease-in-out;
    color: #2f189a !important;
    background-color: #f2f2ff;
    border-color: #2f189a;
  }
  ::-webkit-scrollbar {
    width: 10px;
    background-color: #fbfaf5;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #2f189a;
    border-radius: 5px;
  }
  